<section class="main-image-section">
  {% if section.settings.image != blank %}
    {% assign image = section.settings.image %}
    {% assign ratio = 0.75 %}
    {% assign default = 'grande' %}
    {% assign sizes = '(min-width: 1360px) 650px, 45vw' %}

    {% assign image_url_default = image | product_img_url: 'default' %}
    {% assign image_url_pico = image | product_img_url: 'pico' %}
    {% assign image_url_icon = image | product_img_url: 'icon' %}
    {% assign image_url_thumb = image | product_img_url: 'thumb' %}
    {% assign image_url_small = image | product_img_url: 'small' %}
    {% assign image_url_compact = image | product_img_url: 'compact' %}
    {% assign image_url_medium = image | product_img_url: 'medium' %}
    {% assign image_url_large = image | product_img_url: 'large' %}
    {% assign image_url_grande = image | product_img_url: 'grande' %}
    {% assign image_url_1024x1024 = image | product_img_url: '1024x1024' %}
    {% assign image_url_2048x2048 = image | product_img_url: '2048x2048' %}

    <img
      src="{{ image_url_default }}"
      width="{{ image.width }}"
      height="{{ image.height }}"
      alt="{{ image.alt | escape }}"
    >
    <img src="{{ image_url_default }}" alt="">
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>{{ section.settings.title }}</h1>
        {{ section.settings.description }}
        <a href="{{ section.settings.button_link }}" class="btn btn-secondary">{{ section.settings.button_label }}</a>
      </div>
    </div>
  </div>
</section>
<style>
  .main-image-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .main-image-section img,
  .main-image-section svg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
  }
</style>

{% schema %}
{
  "name": "Main Image",
  "class": "main_image_section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "heading background image"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Example heading",
      "label": "heading title"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Example paragraph</p>",
      "label": "heading description"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button",
      "label": "heading button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "heading button link"
    }
  ],
  "presets": [
    {
      "category": "Main image",
      "name": "main image"
    }
  ]
}
{% endschema %}
